{% extends "account/base_entrance.html" %}
{% load widget_tweaks %}

{% block body_title %}비밀번호 변경{% endblock body_title %}

{% block body_content %}
    <script id="info" type="application/json">{"menu": "account"}</script>
    {% if changed %}
        <div _="on load wait for 1s go url '/'"></div>
    {% else %}
        <form method="post" action="{% url 'account_change_password' %}" class="row g-3">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            {% for field in form %}
                <div class="col-12 form-field-container">
                    <div class="form-floating">
                        {{ field }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                    {% if field.help_text %}
                        {{ field.help_text }}
                    {% endif %}
                </div>
            {% endfor %}

            <div class="col-12" hx-trigger="load delay:1s">
                <button class="btn btn-primary w-100" type="submit">비밀번호 변경</button>
            </div>
        </form>
    {% endif %}
{% endblock body_content %}

{% block footer %}{% endblock footer %}
