{% extends "account/base_entrance.html" %}

{% block head_title %}회원가입{% endblock head_title %}
{% block body_title %}회원가입{% endblock body_title %}

{% block body_content %}
    <div class="col-12">
        <div class="alert alert-danger text-center fw-bold small alert-dismissible fade show"
             role="alert">
            <span class="text-danger">*</span> 표시가 된 부분은 필수 입력 항목입니다.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <form method="post" action="{% url 'account_signup' %}" class="row g-3">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        {% for field in form %}
            {% if field.name != 'address' %}
                <div class="col-12 form-field-container">
                    <div class="form-floating required-field">
                        {{ field }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                    {% if field.help_text %}
                        {{ field.help_text }}
                    {% endif %}
                </div>
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}

        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">회원가입</button>
        </div>
    </form>

    <div class="col-12">
        <div class="alert alert-danger text-center fw-bold small alert-dismissible fade show mt-3"
             role="alert">
            이미 계정이 있으신가요? 바로 <a href="{{ login_url }}">로그인</a> 하세요.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
{% endblock body_content %}

{% block footer %}{% endblock footer %}
