{% load official_templatetags %}

<content id="content"
         class="htmx-fade-in htmx-fade-out tw-grid tw-grid-cols-4 tw-mt-[60px] xl:tw-grid-cols-6">
    <filter id="aside-group"
            class="tw-sticky tw-top-[60px] tw-col-span-full tw-mb-6 tw-z-20 tw-order-1
            htmx-fade-in htmx-fade-out
            md:tw-block md:tw-col-span-1 md:tw-order-2">
        <div id="accordionPoliceFilter" class="accordion md:tw-hidden">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsePoliceFilter" aria-expanded="true"
                            aria-controls="collapsePoliceFilter">
                        문제 필터
                    </button>
                </h2>
            </div>
        </div>
        <div class="accordion tw-sticky tw-top-[84px] tw-col-span-full tw-order-1
             htmx-fade-in htmx-fade-out
             md:!tw-block md:tw-pr-6 md:tw-order-2">
            <div class="accordion-item">
                <div id="collapsePoliceFilter" class="accordion-collapse collapse show"
                     data-bs-parent="#accordionPoliceFilter">
                    <div class="accordion-body p-0">
                        {% include 'a_official/snippets/filter_detail.html' %}
                    </div>
                </div>
            </div>
        </div>
    </filter>

    <main id="main"
          class="tw-col-span-full tw-order-2 !tw-mt-0 !tw-p-6
          md:tw-pr-0 md:tw-col-span-3 md:tw-order-1
          xl:tw-col-span-5 xl:tw-grid xl:tw-grid-cols-2 xl:tw-gap-x-6
          htmx-fade-in htmx-fade-out">
        {{ info|json_script:'info' }}
        {% partial problem_card %}
    </main>
</content>

{% partialdef problem_card %}
    <article class="card"
             hx-target="#content" hx-swap="outerHTML swap:0.25s">
        {% include 'a_official/problem_list_content.html#card_header' %}

        {% custom_icons user problem custom_data %}

        <div class="tw-p-4 tw-pb-2">
            <p>{{ problem.number }}. {{ problem.question }}</p>
            {{ problem.data|safe }}
        </div>

        <div class="tw-p-4 tw-pb-2">
            {% tag user problem custom_data %}

            <div class="tw-flex tw-items-center tw-justify-between tw-text-sm tw-px-2">
                <a class="tw-font-bold hover:tw-underline" href="">
                    {% if problem.comment_users.count %}
                        Comments
                        <span id="commentsCount-{{ problem.id }}"
                              class="tw-font-light tw-text-gray-500 tw-ml-1">
                            {{ problem.comment_users.count }}
                        </span>
                    {% else %}
                        {% if user.is_authenticated %}Add comment{% endif %}
                    {% endif %}
                </a>
            </div>
        </div>
    </article>

    {% if user.is_authenticated %}
        <div class="card !tw-pb-0 -tw-mt-3">
            <form class="tw-flex tw-flex-col tw-items-end tw-gap-4 tw-p-4" autocomplete="off"
                  _="on htmx:afterRequest reset() me"
                  hx-target="#tab-contents" hx-swap="afterbegin"
                  hx-post="{{ problem.get_comment_create_url }}">
                {{ comment_form.media }}
                {{ comment_form.content }}
                <textarea id="content_reply" name="content" class="ckeditor-content" hidden></textarea>
                <button @click="open = false" class="btn btn-outline-primary ckeditor-submit" type="submit">
                    Submit</button>
            </form>
        </div>
    {% endif %}

    <div class="mb-20">
        <div id="tabs" class="tw-ml-4 tw-flex tw-gap-1 tw-mb-4{% if not problem.comment_users.count %} tw-hidden{% endif %}"
             _="on htmx:afterOnLoad take .selected for event.target"
             hx-target="#tab-contents" hx-swap="innerHTML">
            <a class="tab selected" hx-get="">Newest First</a>
            <a class="tab" hx-get="?top">Top Comments</a>
        </div>

        <div id="tab-contents">
            {% for comment in problem_comments %}
                {% include 'a_official/snippets/comment.html' %}
            {% endfor %}
        </div>
    </div>
{% endpartialdef problem_card %}
