{% extends '_base.html' %}
{% load static %}
{% load humanize %}

{% block head_title %}{{ exam.year }}년도_{{ exam.get_exam_display }}_성적통계{% endblock head_title %}
{% block google_adsense %}{% endblock %}

{% block html_body %}
<body class="bg-white">
    {{ info|json_script:'info' }}
    <h2 class="fw-bold text-center mb-4">{{ exam.year }}년도 {{ exam.get_exam_display }} 성적통계</h2>
    {% partial statistics_table %}

    <script>
        window.onload = function () {
            setTimeout(function () {
                window.print();
            }, 1000);
        };
    </script>
</body>
{% endblock %}

{% partialdef statistics_table %}
    <div class="mb-2">
        <table class="table table-sm table-bordered small align-middle">
            <thead>
                <tr class="text-center small align-middle">
                    <th>과목</th>
                    <th>응시생 수</th>
                    <th>최고 점수</th>
                    <th>상위 10%</th>
                    <th>상위 25%</th>
                    <th>상위 50%</th>
                    <th>평균 점수</th>
                </tr>
            </thead>
            <tbody>
                {% for data_stat in statistics_context.values %}
                    <tr class="text-center">
                        <td>{{ data_stat.subject }}</td>
                        <td>{{ data_stat.participants|intcomma }}</td>
                        <td>{{ data_stat.max|floatformat:1 }}</td>
                        <td>{{ data_stat.t10|floatformat:1 }}</td>
                        <td>{{ data_stat.t25|floatformat:1 }}</td>
                        <td>{{ data_stat.t50|floatformat:1 }}</td>
                        <td>{{ data_stat.avg|floatformat:1 }}</td>
                    </tr>
                {% empty %}
                    <tr class="text-center">
                        <td colspan="6">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endpartialdef %}
