<aside id="sidebar" class="sidebar" hx-target="#main"
       hx-swap="innerHTML swap:0.25s" hx-boost="true">
    <ul id="sidebar-nav" class="sidebar-nav">
        {% partial menu_notice %}
        {% if user.is_authenticated %}{% partial menu_dashboard %}{% endif %}
{#        {% partial menu_lecture %}#}
        {% partial menu_official %}
        {% partial menu_daily %}
{#        {% partial menu_score %}#}
    </ul>
    {% partial sidebar_toggle %}
</aside>

{% partialdef menu_notice %}
    <li class="nav-item">
        <a id="noticeList" class="nav-link collapsed" href="{% url 'notice:base' %}">
            <i class="fa-solid fa-fw fa-bullhorn"></i> 공지사항
        </a>
    </li>
{% endpartialdef menu_notice %}

{% partialdef menu_dashboard %}
    <li class="nav-item">
        <a id="dashboardList" class="nav-link collapsed" href="">
            <i class="fa-solid fa-fw fa-list"></i> 대시보드
        </a>
    </li>
{% endpartialdef menu_dashboard %}

{% partialdef menu_official %}
    <li class="nav-item">
        <a id="officialList" class="nav-link collapsed" href="{% url 'official:base' %}">
            <i class="fa-solid fa-fw fa-layer-group"></i> 기출문제
        </a>
    </li>
{% endpartialdef menu_official %}

{% partialdef menu_daily %}
    <li class="nav-item">
        <a id="dailyList" class="nav-link collapsed" href="{% url 'daily:base' %}">
            <i class="fa-solid fa-fw fa-inbox"></i> 데일리테스트
        </a>
    </li>
{% endpartialdef menu_daily %}

{% partialdef menu_lecture %}
    <li class="nav-item">
        <a id="lectureList" class="nav-link collapsed" href="">
            <i class="fa-solid fa-fw fa-pen-to-square"></i> 온라인강의
        </a>
    </li>
{% endpartialdef menu_lecture %}

{% partialdef sidebar_toggle %}
    <div class="d-none d-md-block text-center">
        <button id="sidebarToggle" class="rounded-circle border-0"></button>
    </div>
{% endpartialdef sidebar_toggle %}
