<aside id="sidebar" class="sidebar" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true">
    <ul id="sidebar-nav" class="sidebar-nav">
        {% partial menu_notice %}
{#        {% partial menu_dashboard %}#}
{#        {% partial menu_lecture %}#}
        {% partial menu_official %}
        {% if perms.a_daily or user.is_staff %}{% partial menu_daily %}{% endif %}
        {% if perms.a_weekly or user.is_staff %}{% partial menu_weekly %}{% endif %}
        {% if perms.a_infinite or user.is_staff %}{% partial menu_infinite %}{% endif %}
        {% if request.user.is_staff %}{% partial menu_mock %}{% endif %}
    </ul>
    {% partial sidebar_toggle %}
</aside>

{% partialdef menu_notice %}
    <li class="nav-item">
        <a class="nav-link collapsed" data-menu="notice" href="{% url 'board:notice-list' %}">
            <i class="fa-solid fa-fw fa-bullhorn"></i> 공지사항
        </a>
    </li>
{% endpartialdef %}

{% partialdef menu_dashboard %}
    <li class="nav-item">
        <a class="nav-link collapsed" data-menu="dashboard" href="">
            <i class="fa-solid fa-fw fa-list"></i> 대시보드
        </a>
    </li>
{% endpartialdef %}

{% partialdef menu_official %}
    <li class="nav-item">
        <a class="nav-link collapsed" data-menu="official" href="{% url 'official:base' %}">
            <i class="fa-solid fa-fw fa-layer-group"></i> 기출문제
        </a>
    </li>
{% endpartialdef %}

{% partialdef menu_daily %}
    <li class="nav-item" role="menuitem" aria-label="데일리테스트">
        <a class="nav-link collapsed" href="#dailyNavContent" data-menu="daily"
           data-bs-toggle="collapse" aria-expanded="false" aria-controls="dailyNavContent">
            <i class="fa-solid fa-fw fa-inbox"></i> 데일리테스트
            <i class="fa-solid fa-fw fa-chevron-down ms-auto"></i>
        </a>
        <ul id="dailyNavContent" class="nav-content collapse" data-bs-parent="#sidebar">
            {% if user.is_staff %}
                <li>
                    <a class="aside-nav-icon" data-menu-parent="daily" data-menu-self="staff"
                       href="{% url 'daily:staff-menu' %}">
                        <i class="fa-regular fa-fw fa-square"></i> 관리자 메뉴
                    </a>
                </li>
            {% endif %}
            <li>
                <a class="aside-nav-icon" data-menu-parent="daily" data-menu-self="answer"
                   href="{% url 'daily:answer-list' %}">
                    <i class="fa-regular fa-fw fa-square"></i> 답안 제출
                </a>
            </li>
            <li>
                <a class="aside-nav-icon" data-menu-parent="daily" data-menu-self="problem"
                   href="{% url 'daily:problem-list' %}">
                    <i class="fa-regular fa-fw fa-square"></i> 오답 노트
                </a>
            </li>
        </ul>
    </li>
{% endpartialdef %}

{% partialdef menu_weekly %}
    <li class="nav-item" role="menuitem" aria-label="주간모의고사">
        <a class="nav-link collapsed" href="#weeklyNavContent" data-menu="weekly"
           data-bs-toggle="collapse" aria-expanded="false" aria-controls="weeklyNavContent">
            <i class="fa-solid fa-fw fa-inbox"></i> 주간모의고사
            <i class="fa-solid fa-fw fa-chevron-down ms-auto"></i>
        </a>
        <ul id="weeklyNavContent" class="nav-content collapse" data-bs-parent="#sidebar">
            {% if user.is_staff %}
                <li>
                    <a class="aside-nav-icon" data-menu-parent="weekly" data-menu-self="staff"
                       href="{% url 'weekly:staff-menu' %}">
                        <i class="fa-regular fa-fw fa-square"></i> 관리자 메뉴
                    </a>
                </li>
            {% endif %}
            <li>
                <a class="aside-nav-icon" data-menu-parent="weekly" data-menu-self="answer"
                   href="{% url 'weekly:answer-list' %}">
                    <i class="fa-regular fa-fw fa-square"></i> 답안 제출
                </a>
            </li>
            <li>
                <a class="aside-nav-icon" data-menu-parent="weekly" data-menu-self="problem"
                   href="{% url 'weekly:problem-list' %}">
                    <i class="fa-regular fa-fw fa-square"></i> 오답 노트
                </a>
            </li>
        </ul>
    </li>
{% endpartialdef %}

{% partialdef menu_infinite %}
    <li class="nav-item" role="menuitem" aria-label="무한반">
        <a class="nav-link collapsed" href="#infiniteNavContent" data-menu="infinite"
           data-bs-toggle="collapse" aria-expanded="false" aria-controls="infiniteNavContent">
            <i class="fa-solid fa-fw fa-inbox"></i> 무한반
            <i class="fa-solid fa-fw fa-chevron-down ms-auto"></i>
        </a>
        <ul id="infiniteNavContent" class="nav-content collapse" data-bs-parent="#sidebar">
            {% if user.is_staff %}
                <li>
                    <a class="aside-nav-icon" data-menu-parent="infinite" data-menu-self="staff"
                       href="{% url 'infinite:staff-menu' %}">
                        <i class="fa-regular fa-fw fa-square"></i> 관리자 메뉴
                    </a>
                </li>
            {% endif %}
            <li>
                <a class="aside-nav-icon" data-menu-parent="infinite" data-menu-self="answer"
                   href="{% url 'infinite:answer-list' %}">
                    <i class="fa-regular fa-fw fa-square"></i> 답안 제출
                </a>
            </li>
            <li>
                <a class="aside-nav-icon" data-menu-parent="infinite" data-menu-self="problem"
                   href="{% url 'infinite:problem-list' %}">
                    <i class="fa-regular fa-fw fa-square"></i> 오답 노트
                </a>
            </li>
        </ul>
    </li>
{% endpartialdef %}

{% partialdef menu_mock %}
    <li class="nav-item" role="menuitem" aria-label="전국모의고사">
        <a class="nav-link collapsed" href="#mockNavContent" data-menu="mock"
           data-bs-toggle="collapse" aria-expanded="false" aria-controls="mockNavContent">
            <i class="fa-solid fa-fw fa-inbox"></i> 전국모의고사
            <i class="fa-solid fa-fw fa-chevron-down ms-auto"></i>
        </a>
        <ul id="mockNavContent" class="nav-content collapse" data-bs-parent="#sidebar">
            {% if user.is_staff %}
                <li>
                    <a class="aside-nav-icon" data-menu-parent="mock" data-menu-self="staff"
                       href="{% url 'mock:staff-list' %}">
                        <i class="fa-regular fa-fw fa-square"></i> 관리자 메뉴
                    </a>
                </li>
            {% endif %}
            <li>
                <a class="aside-nav-icon" data-menu-parent="mock" data-menu-self="result"
                   href="{% url 'mock:index' %}">
                    <i class="fa-regular fa-fw fa-square"></i> 성적 확인
                </a>
            </li>
        </ul>
    </li>
{% endpartialdef %}

{% partialdef menu_lecture %}
    <li class="nav-item">
        <a class="nav-link collapsed" data-menu="lecture" href="">
            <i class="fa-solid fa-fw fa-pen-to-square"></i> 온라인강의
        </a>
    </li>
{% endpartialdef %}

{% partialdef sidebar_toggle %}
    <div class="d-none d-md-block text-center">
        <button id="sidebarToggle" class="rounded-circle border-0"></button>
    </div>
{% endpartialdef %}
