{% load static %}

<!-- ======= Main Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" role="banner"
           hx-target="#main" hx-swap="innerHTML swap:0.25s"
           hx-boost="true" data-menu="official"
           href="{% url 'index' %}">
            <img src="{% static 'favicon/favicon-32x32.png' %}" alt="Logo">
            <span class="d-none d-sm-block">PRIME 경위공채</span>
        </a>
        <i class="fa fa-bars toggle-sidebar-btn"></i>
    </div>

    <div class="search-bar">
        <form hx-target="#main" hx-swap="innerHtml swap:0.25s" hx-post="{% url 'search' %}">
            <div class="input-group justify-content-center">
                <select name="exam_type" class="form-select" aria-label="검색 대상 문제" style="flex: 0 0 30%">
                    <option value="1">기출문제</option>
                    {% if perms.daily %}<option value="2">데일리테스트</option>{% endif %}
                    {% if perms.weekly %}<option value="3">주간모의고사</option>{% endif %}
                </select>
                <input id="id_data" type="text" name="keyword" class="form-control" style="flex: 0 0 55%"
                       placeholder="키워드를 입력해주세요" title="키워드">
                <button class="btn btn-outline-secondary" type="submit" title="검색" style="flex: 0 0 10%">
                    <i class="fa-solid fa-magnifying-glass fa-fw"></i>
                </button>
            </div>
        </form>
    </div>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item d-xl-none">
                <a class="nav-link search-bar-toggle px-1" href="#">
                    <i class="fa-solid fa-fw fa-magnifying-glass"></i>
                </a>
            </li>

            {% if user.is_superuser or user.is_staff %}
                <a class="nav-link px-1" href="{% url 'admin:index' %}" target="admin">
                    <i class="fa-solid fa-crown fa-fw text-warning"></i>
                </a>
            {% endif %}

            {% if user.is_authenticated %}
                <div class="d-flex" hx-boost="true" hx-push-url="{% url 'official:base' %}"
                     hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    {% for i in '1234' %}
                        {% cycle '' 'likes=true' 'rates=all' 'solves=all' as view_type_option silent %}
                        {% cycle 'fa-file-lines text-primary' 'fa-heart like_true' 'fa-star rate_true' 'fa-circle-check answer_true' as view_type_icon silent %}

                        <a class="nav-link px-1" href="{% url 'official:base' %}?{{ view_type_option }}">
                            <i class="fa-solid fa-fw {{ view_type_icon }}"></i>
                        </a>
                    {% endfor %}
                </div>
                <div class="topbar-divider"></div>
            {% endif %}

            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0"
                   href="" data-bs-toggle="dropdown">
                    <img src="{% static 'image/undraw_profile.jpg' %}"
                         alt="Profile" class="img-profile rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.name }}</span>
                </a>

                {% if user.is_authenticated %}
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
                        hx-swap="innerHTML swap:0.25s">
                        <li class="dropdown-item d-flex align-items-center cursor-pointer"
                            hx-push-url="true" hx-target="body"
                            hx-get="{% url 'account_change_password' %}">
                            <i class="fa-solid fa-fw fa-user"></i> <span>비밀번호 변경</span>
                        </li>
                        <li><hr class="dropdown-divider"></li>
{#                        <li class="dropdown-item d-flex align-items-center cursor-pointer"#}
{#                            hx-get="{% url 'dashboard:base' %}">#}
{#                            <i class="fa-solid fa-fw fa-list"></i> <span>Dashboard</span>#}
{#                        </li>#}
{#                        <li><hr class="dropdown-divider"></li>#}
                        <li class="dropdown-item d-flex align-items-center cursor-pointer"
                            data-bs-toggle="modal" data-bs-target="#modalContainer"
                            hx-push-url="false" hx-target="#modalContainer"
                            hx-get="{% url 'account_logout_modal' %}">
                            <i class="fa-solid fa-fw fa-sign-out-alt"></i> 로그아웃
                        </li>
                    </ul>
                {% endif %}

                {% if not user.is_authenticated %}
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
                        hx-push-url="true" hx-target="body" hx-swap="innerHTML swap:0.25s">
                        <li class="dropdown-item d-flex align-items-center cursor-pointer"
                            hx-get="{% url 'account_login' %}">
                            <i class="fa-solid fa-fw fa-sign-in-alt"></i> 로그인
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="dropdown-item d-flex align-items-center cursor-pointer"
                            hx-get="{% url 'account_signup' %}">
                            <i class="fa-solid fa-fw fa-door-open"></i> 회원가입
                        </li>
                    </ul>
                {% endif %}
            </li>
        </ul>
    </nav>
</header><!-- Main Header End -->
