{% extends '_base.html' %}
{% load weekly_templatetags %}

{% block main %}
    {% include 'a_weekly/snippets/page_title.html' %}

    <section class="section">
        <div class="row">
            <article class="col-xxl-8">
                <problem id="containerProblem" class="card htmx-fade-in htmx-fade-out">
                    <div class="card-body">
                        <div class="card-title mb-0 row">
                            <div class="d-flex align-items-center fs-6">
                                <div class="d-flex align-items-center">
                                    {% include 'a_weekly/snippets/navigation_container.html' %}
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="text-primary fw-bold">{{ problem.full_reference }}</div>
                                <div class="text-nowrap ms-auto fs-6">
                                    {% custom_icons user problem custom_data %}
                                </div>
                            </div>
                        </div>
                        <div id="problemQuestion" class="border-top pt-3 htmx-fade-in htmx-fade-out">
                            <div class="d-flex">
                                <h6 class="lh-base text-nowrap mb-0 me-2 fw-bold text-primary">
                                    문&nbsp;{{ problem.number|add_space }}.
                                </h6>
                                <h6 class="lh-base mb-0 fw-bold text-secondary">
                                    {{ problem.question }}
                                </h6>
                            </div>
                        </div>
                        <div id="problemDetail" class="htmx-fade-in htmx-fade-out">
                            <div class="d-flex flex-wrap align-items-start justify-content-start ms-4">
                                {{ problem.data|safe }}
                            </div>
                        </div>
                    </div>
                </problem>
            </article>

            <div class="col-xxl-4">
                <div class="row">
                    <article class="col-md-6 col-xxl-12">
                        <memo id="containerMemo" class="card htmx-fade-in htmx-fade-out">
                            <div class="card-body">
                                <div id="accordionMemo" class="accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 id="headingMemo" class="accordion-header">
                                            <button class="accordion-button" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseMemo"
                                                    aria-expanded="true" aria-controls="collapseMemo">
                                                <span class="badge bg-warning me-2">{{ icon_memo.white|safe }} 메모</span>
                                                <span class="small text-warning fw-bold">
                                                    나만 볼 수 있는 메모를 남겨보세요.
                                                </span>
                                            </button>
                                        </h2>
                                        <hr class="border-secondary mt-0">
                                        <div id="collapseMemo" class="accordion-collapse collapse show"
                                             aria-labelledby="headingMemo" data-bs-parent="#accordionMemo">
                                            <div id="collapseMemoContent" class="htmx-fade-in htmx-fade-out"
                                                 hx-target="#collapseMemoContent" hx-swap="innerHTML swap:0.25s">
                                                {% if user.is_authenticated %}
                                                    {% include 'a_weekly/snippets/memo_container.html' %}
                                                {% else %}
                                                    {% partial need_login %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </memo>
                    </article>

                    <article class="col-md-6 col-xxl-12">
                        <tag id="containerTag" class="card htmx-fade-in htmx-fade-out">
                            <div class="card-body">
                                <div id="accordionTag" class="accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 id="headingTag" class="accordion-header">
                                            <button class="accordion-button" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseTag"
                                                    aria-expanded="true" aria-controls="collapseTag">
                                                <span class="badge bg-primary me-2">{{ icon_tag.white|safe }} 태그</span>
                                                <span class="small text-primary fw-bold">
                                                    나만 볼 수 있는 태그를 남겨보세요.
                                                </span>
                                            </button>
                                        </h2>
                                        <hr class="border-secondary mt-0">
                                        <div id="collapseTag" class="accordion-collapse collapse show"
                                             aria-labelledby="headingTag" data-bs-parent="#accordionTag">
                                            <div id="collapseTagContent" class="htmx-fade-in htmx-fade-out"
                                                 hx-target="#collapseTagContent" hx-swap="innerHTML swap:0.25s">
                                                {% if user.is_authenticated %}
                                                    <div class="tw-text-sm tw-mb-2 tw-px-2">
                                                        <input id="problemTag{{ problem.id }}"
                                                               placeholder="태그를 입력해주세요" type="hidden"
                                                               data-tagify data-problem-id="{{ problem.id }}"
                                                               data-tag-type="weekly"
                                                               data-tags="{{ tags|join:',' }}">
                                                    </div>
                                                {% else %}
                                                    {% partial need_login %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tag>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}

{% partialdef need_login %}
    <ul class="list-group">
        <li class="list-group-item">
            <a class="text-secondary" hx-target="#main"
               hx-boost="true" hx-swap="innerHTML swap:0.25s" hx-trigger="click"
               href="{% url 'account_login' %}?next={{ problem.get_absolute_url }}">
                로그인이 필요합니다
            </a>
        </li>
    </ul>
{% endpartialdef need_login %}
