{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

<section id="policeFilterSection" class="card m-0"{% if filter_hx_swap_oob %} hx-swap-oob="true"{% endif %}>
    <card-header class="tw-hidden md:tw-block tw-bg-gray-500 tw-text-white tw-z-10 tw-text-center tw-font-bold tw-p-4">
        문제 필터
    </card-header>
    <card-body class="tw-px-4 tw-pt-4">
        <form class="tw-grid tw-grid-cols-2 tw-gap-2 tw-align-items-center tw-justify-content-center"
              hx-trigger="change" hx-target="#main" hx-push-url="false"
              hx-get="{{ base_url }}">
            <a class="filter_default tw-col-span-full"
               hx-boost="true"
               href="?keyword={{ keyword }}">
                <i class="fa-solid fa-fw fa-filter-circle-xmark"></i>
                필터 제거
            </a>

            <input id="id_data" type="hidden" name="keyword"
                   value="{{ keyword }}" placeholder="{% trans 'Enter search keyword' %}">

            {% for field in form %}
                {% if field.name == 'year' or field.name == 'ex' or field.name == 'sub' %}
                    <div class="tw-col-span-full"
                         _="on change from #{{ field.auto_id }} set #id_page.value to '1'">
                        {% if field.errors %}
                            {% crispy_field field 'class' 'form-select form-select-sm is-invalid' %}
                        {% else %}
                            {% if field.value == None or field.value == '' %}
                                {% crispy_field field 'class' 'form-select form-select-sm select2-filter-style' %}
                            {% else %}
                                {% crispy_field field 'class' 'form-select form-select-sm filter_selected select2-filter-style' %}
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    <div _="on change from #{{ field.auto_id }} set #id_page.value to '1'">
                        {% if field.errors %}
                            {% crispy_field field 'class' 'form-select form-select-sm is-invalid' %}
                        {% else %}
                            {% if field.value == None or field.value == '' %}
                                {% crispy_field field 'class' 'form-select form-select-sm' %}
                            {% else %}
                                {% crispy_field field 'class' 'form-select form-select-sm filter_selected' %}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <select id="id_page" name="page" aria-label="Page"
                    class="form-select form-select-sm filter_selected"
                    hx-target="#aside" hx-swap="innerHTML swap:0.25s"
                    hx-get="{% url 'official:problem-list' %}">
                {% for p in page_range %}
                    {% if p == '...' %}
                        <option value="{{ p }}" disabled>{{ p }}</option>
                    {% elif p == page %}
                        <option value="{{ p }}" selected>{{ p }}페이지</option>
                    {% else %}
                        <option value="{{ p }}">{{ p }}페이지</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </card-body>
</section>
