{% #modal header='문제 정답을 선택해주세요.' %}
    <a class="tw-block tw-mb-2 tw-font-bold text-primary hover:tw-underline"
       href="{{ problem.get_absolute_url }}">
        {{ problem.full_reference }}
    </a>

    <form hx-target="this" hx-swap="afterend swap:0.25s">
        <fieldset class="tw-flex tw-gap-1 tw-justify-center">
            {% for i in '1234' %}
                {% partialdef answer_button inline=True %}
                    <label class="btn btn-outline-success !tw-rounded-full !tw-w-10 !tw-h-10"
                           for="answer{{ i }}">
                        {{ i }}
                        <input id="answer{{ i }}" class="tw-hidden"
                               type="radio" name="answer" value="{{ i }}"
                               hx-post="{{ problem.get_solve_url }}">
                    </label>
                {% endpartialdef %}
            {% endfor %}
        </fieldset>
    </form>
    <div id="solveResult"></div>
{% /modal %}
