{% load humanize %}

<article class="table-responsive">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border">과목</th>
                <th class="text-primary text-nowrap">응시생 수</th>
                <th class="text-primary text-nowrap">최고 점수</th>
                <th class="text-primary text-nowrap">상위 10%</th>
                <th class="text-primary text-nowrap">상위 25%</th>
                <th class="text-primary text-nowrap">상위 50%</th>
                <th class="text-primary text-nowrap td-right-no-border">평균 점수</th>
            </tr>
        </thead>
        <tbody>
            {% for data_stat in statistics_context.values %}
                <tr class="text-center">
                    <td class="text-nowrap td-left-no-border">{{ data_stat.subject }}</td>
                    <td class="text-nowrap">{{ data_stat.participants|intcomma }}</td>
                    <td class="text-nowrap">{{ data_stat.max|floatformat:1 }}</td>
                    <td class="text-nowrap">{{ data_stat.t10|floatformat:1 }}</td>
                    <td class="text-nowrap">{{ data_stat.t25|floatformat:1 }}</td>
                    <td class="text-nowrap">{{ data_stat.t50|floatformat:1 }}</td>
                    <td class="text-nowrap td-right-no-border">{{ data_stat.avg|floatformat:1 }}</td>
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap td-left-no-border td-right-no-border" colspan="32">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
