{% load humanize %}

<article class="table-responsive htmx-fade-in htmx-fade-out">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border" rowspan="2">ID</th>
                {% partialdef table_head_1 inline=True %}
                    <th class="text-primary text-nowrap" rowspan="2">등수</th>
                    <th class="text-primary text-nowrap" rowspan="2">이름<hr class="m-0"/>수험번호</th>
                    <th class="text-primary text-nowrap" rowspan="2">선택과목<hr class="m-0"/>핸드폰 번호</th>
                    <th class="text-primary text-nowrap" rowspan="2">성적<br/>확인</th>

                    <th class="text-primary text-nowrap" colspan="2">총점</th>
                    <th class="text-primary text-nowrap" colspan="2">형사법</th>
                    <th class="text-primary text-nowrap" colspan="2">헌법</th>
                    <th class="text-primary text-nowrap" colspan="2">경찰학</th>
                    <th class="text-primary text-nowrap" colspan="2">범죄학</th>
                    <th class="text-primary text-nowrap" colspan="2">민법총칙</th>
                    <th class="text-primary text-nowrap" colspan="2">행정법</th>
                    <th class="text-primary text-nowrap td-right-no-border" colspan="2">행정학</th>
                {% endpartialdef %}
            </tr>

            {% partialdef table_head_2 inline=True %}
                <tr class="text-center table-warning align-middle">
                    {% for _ in 's0123456' %}
                        <th class="text-primary text-nowrap td-right-no-border">점수</th>
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">등수</th>
                    {% endfor %}
                </tr>
            {% endpartialdef %}
        </thead>
        <tbody>
            {% for obj in catalog_context.page_obj %}
                <tr class="text-center">
                    <td class="text-nowrap td-left-no-border">{{ obj.id }}</td>
                    {% partialdef table_body inline=True %}
                        <td class="text-nowrap">{{ obj.rank_sum|default:"" }}</td>
                        <td class="text-nowrap">{{ obj.name }}<hr class="m-0"/>{{ obj.serial }}</td>
                        <td class="text-nowrap">
                            {{ obj.get_selection_display }}<hr class="m-0"/>{{ obj.phone_number|default:"&nbsp;" }}
                        </td>

                        {% partialdef detail_student inline %}
                            <td class="text-nowrap">
                                <div class="btn-group">
                                    <a target="result" class="btn btn-sm btn-outline-primary"
                                       href="{{ obj.get_staff_detail_student_url }}">확인
                                    </a>
                                </div>
                            </td>
                        {% endpartialdef %}

                        {% for _ in 's0123456' %}
                            {% cycle obj.score_sum obj.score_0 obj.score_1 obj.score_2 obj.score_3 obj.score_4 obj.score_5 obj.score_6 as score silent %}
                            {% cycle obj.rank_sum obj.rank_0 obj.rank_1 obj.rank_2 obj.rank_3 obj.rank_4 obj.rank_5 obj.rank_6 as rank silent %}
                            <td class="text-nowrap td-right-no-border">{{ score|default:''|floatformat:1 }}</td>
                            <td class="text-nowrap td-left-no-border td-right-no-border">
                                {{ rank|default:'' }}<br/>
                                <span class="text-primary fw-bold">{{ rank|percentageby:obj.participants|default:''|floatformat:1 }}</span>
                            </td>
                        {% endfor %}
                    {% endpartialdef %}
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap td-left-no-border td-right-no-border" colspan="34">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% include 'a_official/snippets/pagination.html' with page_obj=catalog_context.obj page_range=catalog_context.page_range header='catalog_list' %}
