{% extends '_base.html' %}

{% block main %}
    {{ info|json_script:'info' }}
    <div class="pagetitle">
        <h1>
            {{ icon_menu|safe }} {{ title.kor }}
            {% if user.is_staff %}
                <a class="btn btn-sm btn-outline-primary ms-1"
                   href="{{ post.get_admin_change_url }}" target="admin">
                    관리자 페이지
                </a>
            {% endif %}
        </h1>
        <nav>
            <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item">Board</li>
                <li class="breadcrumb-item">
                    <a href="{{ post.get_list_url }}" class="active">{{ title.eng }}</a>
                </li>
            </ol>
        </nav>
    </div><!-- Page Title End -->

    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card htmx-fade-in"
                     hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
                    <div id="cardHeader" class="card-header mb-0 bg-warning-subtle text-black fw-bold">
                        {{ title.kor }}
                    </div>
                    <div id="cardContent" class="card-body htmx-fade-in htmx-fade-out">
                        <div class="card-title d-flex justify-content-between mb-0" hx-target="#main"
                             hx-boost="true" hx-swap="innerHTML swap:0.25s">
                            <div aria-label="left-button">
                                <a class="btn btn-circle btn-outline-secondary"
                                   title="목록" href="{{ post.get_list_url }}">
                                    {{ icon_board.list|safe }}
                                </a>

                                {% if next_post %}
                                    <a class="btn btn-circle btn-outline-secondary"
                                       title="다음 글" href="{{ next_post.get_absolute_url }}">
                                        {{ icon_board.next|safe }}
                                    </a>
                                {% else %}
                                    <button class="btn btn-circle btn-outline-secondary"
                                            title="다음 글" disabled>
                                        {{ icon_board.next|safe }}
                                    </button>
                                {%  endif %}

                                {% if prev_post %}
                                    <a class="btn btn-circle btn-outline-secondary"
                                       title="이전 글" href="{{ prev_post.get_absolute_url }}">
                                        {{ icon_board.prev|safe }}
                                    </a>
                                {% else %}
                                    <button class="btn btn-circle btn-outline-secondary"
                                            title="이전 글" disabled>
                                        {{ icon_board.prev|safe }}
                                    </button>
                                {%  endif %}
                            </div>

                            <div aria-label="right-button">
                                {% if user.is_staff %}
                                    <a class="btn btn-circle btn-outline-success"
                                       title="수정" target="admin"
                                       href="{{ post.get_admin_change_url }}">
                                        {{ icon_board.update|safe }}
                                    </a>
                                    <a class="btn btn-circle btn-outline-danger"
                                       title="삭제" target="admin"
                                       href="{{ post.get_admin_delete_url }}">
                                        {{ icon_board.delete|safe }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        <h6 class="border-top pt-2 text-primary fw-bold">
                            {% if post.top_fixed %}
                                <span class="text-danger">{{ icon_board.top_fixed|safe }}</span>
                            {% endif %}
                            {% if post.is_hidden %}
                                <span class="text-danger">{{ icon_board.is_hidden|safe }}</span>
                            {% endif %}
                            {{ post.title }}
                        </h6>

                        <div class="border-bottom pb-2 small text-secondary">
                            <span class="me-1">{{ post.user.username }}</span>
                            <span class="me-1">조회
                                <span class="text-danger fw-bold">{{ post.hit }}</span>
                            </span>
                            <span class="me-1">
                                {% with timestamp=post.created_at %}
                                    {{ timestamp|date:'Y.m.d' }}({{ timestamp|date:'w'|to_kor_day }})
                                    {{ timestamp|time:'H:i' }}
                                {% endwith %}
                            </span>
                            <span class="me-1">댓글
                                <span class="text-danger fw-bold">{{ post.comment_count }}</span>
                            </span>
                        </div>

                        <div class="my-4">
                            {{ post.content|safe }}
                        </div>

                        {% include 'a_board/comment_container.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
