{{ config.info|json_script:'info' }}
<div class="pagetitle">
    <h1>
        {{ icon_menu|safe }} {{ config.menu_title.kor }}
        {% if problem %}
            <span class="fs-6 text-secondary">{{ problem.full_reference }}</span>
        {% endif %}
        {% if user.is_staff %}
            <a class="btn btn-sm btn-outline-primary ms-1"
               href="{{ config.url_admin }}" target="admin">
                관리자 페이지
            </a>
        {% endif %}
    </h1>
    <nav>
        <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            {% if not problem %}
                <li class="breadcrumb-item">
                    <a class="active" href="{{ config.url_list }}">{{ config.menu_title.eng }}</a>
                </li>
            {% else %}
                <li class="breadcrumb-item">
                    <a href="{{ config.url_list }}">{{ config.menu_title.eng }}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ problem.get_absolute_url }}" class="active">{{ problem.reference }}</a>
                </li>
            {% endif %}
        </ol>
    </nav>
</div><!-- Page Title End -->