{% extends '_base.html' %}

{% block main %}
    {% include 'a_common/prime_test/page_title.html' %}

    <section class="section htmx-fade-in htmx-fade-out"
             hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
        <div class="row">
            <div class="col-12" aria-label="성적 확인">
                {% partial score_sheet %}
            </div>
        </div>
    </section>
{% endblock main %}

{% partialdef score_sheet %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            {{ exam.full_reference }} {{ sub_title|safe }}
            <a class="btn btn-sm btn-outline-secondary" title="시험 목록으로"
               href="{{ exam.get_answer_list_url }}" hx-boost="true">
                시험 목록으로
            </a>
        </div>

        <div class="card-body">
            <ul class="grid list-group list-group-horizontal text-center fw-bold">
                <li class="col-6 list-group-item list-group-item-warning">
                    점수 : <span class="text-primary">{{ student.score }}</span>점
                </li>
                <li class="col-6 list-group-item list-group-item-warning">
                    석차 : <span class="text-primary">{{ student.rank }}</span>등(<span class="text-primary">{{ student.rank_ratio|default:0 }}</span>%)
                </li>
            </ul>

            <ul class="grid list-group list-group-horizontal my-3 text-center fw-bold">
                <li class="col-6 list-group-item">응시생수 : {{ exam.participants }}명</li>
                <li class="col-6 list-group-item">평균 점수 : {{ exam.statistics.avg }}점</li>
            </ul>

            <ul class="grid-sm list-group list-group-horizontal-sm text-center fw-bold">
                <li class="col-sm-4 list-group-item">최고 점수 : {{ exam.statistics.max }}점</li>
                <li class="col-sm-4 list-group-item">상위 10% : {{ exam.statistics.t10 }}점</li>
                <li class="col-sm-4 list-group-item">상위 20% : {{ exam.statistics.t20 }}점</li>
            </ul>

            <article class="table-responsive mt-3">
                <table class="table align-middle">
                    <tbody>
                        {% if answer_student|length == 10  %}
                            {% with loop_counter=10 loop_min=0 %}
                                {% partial answer_table_tr %}
                            {% endwith %}
                        {% else %}
                            {% for _ in '0123' %}
                                {% cycle 10 10 10 10 as loop_counter silent %}
                                {% cycle 0 10 20 30 as loop_min silent %}
                                {% partial answer_table_tr %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </article>

        </div>
    </div>
{% endpartialdef score_sheet %}

{% partialdef answer_table_tr %}
    <tr class="text-center table-warning" aria-label="문제 번호">
        <th class="text-nowrap" scope="row">문제 번호</th>
        {% for _ in 'x'|ljust:loop_counter %}
            <th>{{ forloop.counter|add:loop_min }}</th>
        {% endfor %}
    </tr>

    {# answer_official #}
    <tr class="text-center" aria-label="공식 정답">
        <th class="text-nowrap td-no-border" scope="row">정답</th>
        {% for answer in answer_official %}
            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                <td class="td-no-border">
                    {% if answer.ans_list %}
                        {% if answer.ans == 1234 %}
                            <span data-number="{{ answer.no }}"
                                  class="badge rounded-pill text-bg-secondary">
                                전체 정답
                            </span>
                        {% else %}
                            {% for ans in answer.ans_number_list %}
                                <button data-number="{{ answer.no }}"
                                        class="btn btn-circle btn-sm fs-6 my-2 btn-success">
                                    {{ ans }}
                                </button>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <button data-number="{{ answer.no }}"
                                class="btn btn-circle btn-sm fs-6 mx-1 my-2 btn-success">
                            {{ answer.ans }}
                        </button>
                    {% endif %}
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr class="text-center" aria-label="정답률">
        <th class="text-nowrap" scope="row">정답률(%)</th>
        {% for answer in answer_official %}
            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                <td>
                    <div data-number="{{ answer.no }}" class="fw-bold text-success">
                        <div id="{{ prefix }}_correct_{{ answer.no }}"
                             class="htmx-fade-up-in delay-{{ forloop.counter|digit_of_one }}">
                            {{ answer.rate_correct|floatformat:0 }}
                        </div>
                    </div>
                </td>
            {% endif %}
        {% endfor %}
    </tr>

    {# answer_student #}
    <tr class="text-center" aria-label="선택 답안">
        <th class="text-nowrap td-no-border" scope="row">선택 답안</th>
        {% for answer in answer_student %}
            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                <td class="td-no-border">
                    <button data-number="{{ answer.no }}"
                            class="btn btn-circle btn-sm fs-6 mx-1 my-2 {% if answer.result %}btn-success{% else %}btn-danger{% endif %}">
                        {{ answer.ans }}
                    </button>
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr class="text-center" aria-label="선택률">
        <th class="text-nowrap" scope="row">선택률(%)</th>
        {% for answer in answer_student %}
            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                <td>
                    <div data-number="{{ answer.no }}"
                         class="fw-bold {% if answer.result %}text-success{% else %}text-danger{% endif %}">
                        <div id="{{ prefix }}_selection_{{ answer.no }}"
                             class="htmx-fade-up-in delay-{{ forloop.counter|digit_of_one }}">
                            {{ answer.rate_selection|floatformat:0 }}
                        </div>
                    </div>
                </td>
            {% endif %}
        {% endfor %}
    </tr>
{% endpartialdef answer_table_tr %}
