<article id="detailNavContainer" class="flex-nowrap input-group me-2"
         hx-target="#main" hx-swap="innerHTML swap:0.25s">
    <a id="problemListBtn" class="btn btn-primary cursor-pointer"
       hx-push-url="{{ problem.get_list_url }}"
       hx-get="{{ problem.get_list_url }}{% querystring %}">
        {{ icon_nav.left_arrow|safe }}
    </a>

    {% if prob_prev %}
        <a class="btn btn-primary cursor-pointer"
           hx-get="{{ prob_prev.get_absolute_url }}{% querystring %}">
            {{ icon_nav.prev_prob|safe }}
        </a>
    {% else %}
        <a class="btn btn-primary text-primary">{{ icon_nav.prev_prob|safe }}</a>
    {% endif %}

    {% if prob_next %}
        <a class="btn btn-primary cursor-pointer"
           hx-get="{{ prob_next.get_absolute_url }}{% querystring %}">
            {{ icon_nav.next_prob|safe }}
        </a>
    {% else %}
        <a class="btn btn-primary text-primary">{{ icon_nav.next_prob|safe }}</a>
    {% endif %}

    {% with custom='problem' list_url=list_url_problem icon=icon_nav.list %}
        {% partial list_buttons_default %}
    {% endwith %}

    {% if user.is_authenticated %}
        {% for _ in '1234' %}
            {% cycle 'rate' 'like' 'memo' 'tag' as custom silent %}
            {% cycle icon_rate_white icon_like_white icon_memo_white icon_tag_white as icon silent %}
            {% partial list_buttons_default %}
        {% endfor %}
    {% endif %}
</article>

{% partialdef list_buttons_default %}
    <a id="{{ custom }}List" class="btn btn-circle btn-primary dropdown-toggle"
       href="" role="button" data-bs-toggle="dropdown" aria-expanded="false"
       hx-target="#{{ custom }}ListContents"
       hx-headers='{"View-Type":"{{ custom }}_list"}'
       hx-trigger="click once"
       hx-get="{{ problem.get_absolute_url }}">
        <div class="text-white" data-bs-toggle="tooltip" title="{{ tooltip_title }}">
            {{ icon|safe }}
        </div>
    </a>
    <div class="dropdown-menu" aria-labelledby="{{ custom }}List">
        <div id="{{ custom }}ListContents" class="dropdown p-2" role="option">
        </div>
    </div>
{% endpartialdef list_buttons_default %}

{% partialdef nav_problem_list %}
    <div class="container" style="min-width: 300px;">
        <div class="row justify-content-center p-2 text-bg-primary fw-bold">
            {{ problem.exam_name }}
        </div>
        <div class="row justify-content-center">
            {% for data in list_data %}
                    <div class="col-2 text-center small p-1">
                        <a hx-get="{{ data.get_absolute_url }}{% querystring %}"
                           class="p-1 dropdown-item text-nowrap text-center cursor-pointer fw-bold
                           {% if data.is_correct == True %}text-success{% elif data.is_correct == False %}text-danger{% endif %}">
                            {{ data.number }}번
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:5 %}
                </div>
                <div class="row justify-content-center">
                    {% endif %}
            {% endfor %}
        </div>
    </div>
{% endpartialdef nav_problem_list %}

{% partialdef nav_other_list %}
    <div class="container" style="min-width: 300px;">
        {% if list_title %}
            <div class="row justify-content-center p-2 text-bg-{{ color }} fw-bold">
                {{ list_title }}
            </div>
        {% endif %}
        {% if not list_data %}
            <div class="col-12 text-center text-danger p-3">자료가 없습니다.</div>
        {% endif %}
        {% for data in list_data %}
            {% if forloop.counter0|divisibleby:5 %}
                </div>
            {% ifchanged %}
                {% if forloop.counter0 != 0 %}
                <hr class="m-1">
                {% endif %}
                <div class="row justify-content-center p-2 text-{{ color }} fw-bold">{{ data.exam_name }}</div>
            {% endifchanged %}
                <div class="row justify-content-center p-2">
            {% endif %}
            {% if data %}
                <div class="col-2 text-center p-0">
                    <a hx-get="{{ data.get_absolute_url }}{% querystring %}"
                       class="p-1 dropdown-item text-nowrap text-center cursor-pointer fw-bold
                       {% if data.is_correct == True %}text-success{% elif data.is_correct == False %}text-danger{% endif %}">
                        {{ data.number }}번
                    </a>
                </div>
            {% else %}
                <div class="col-2 text-center p-0"> </div>
            {% endif %}
        {% endfor %}
    </div>
{% endpartialdef nav_other_list %}
