{% extends '_base.html' %}

{% block main %}
    {% include 'a_common/prime_test/page_title.html' %}

    <section class="section">
        <div class="row">
            <div class="col-12" aria-label="문제 목록">
                <div id="problemCard" class="card htmx-fade-in"
                     hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
                    <div id="problemCardHeader" class="card-header htmx-fade-in htmx-fade-out">
                        {{ sub_title|safe }}
                        {% if keyword %}(검색어: {{ keyword }}){% endif %}
                    </div>

                    <div class="card-body">
                        <div class="row flex-column flex-md-row-reverse">
                            <div id="problemFilter"
                                 class="col-12 col-md-4 accordion htmx-fade-in htmx-fade-out">
                                {% include 'a_common/prime_test/problem_list_filter.html' %}
                            </div>

                            <div id="problemContent" class="col-12 col-md-8 htmx-fade-in htmx-fade-out">
                                {% include 'a_common/prime_test/problem_list_content.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div aria-label="버튼 모음">
                <a id="toggleProblemBtn" class="btn btn-success px-2"
                   data-bs-toggle="tooltip" data-bs-title="문제 리스트"
                   hx-boost="true" hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top"
                   href="{{ config.url_list }}">
                    <i class="fa-solid fa-layer-group fa-fw"></i>
                </a>

                <button id="toggleCollectionBtn" class="btn btn-primary px-2"
                        data-bs-toggle="tooltip" data-bs-title="컬렉션 리스트">
                    <i class="fa-solid fa-folder-plus fa-fw"></i>
                </button>
            </div>

            <collection id="floatingCollection" class="card htmx-fade-in htmx-fade-out"
                 hx-swap="innerHTML swap:0.25s show:window:top">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h5 id="floatingCollectionIndicator" class="card-title d-flex" style="cursor: pointer;">
                                <i class="fa-solid fa-folder-plus me-2"></i> 컬렉션 리스트
                                <span class="ms-auto">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </span>
                            </h5>
                            {% if user.is_authenticated %}
                                <div id="collectionList" class="htmx-fade-in htmx-fade-out">
                                    <form id="collectionListForm"
                                          class="list-group htmx-fade-out htmx-fade-in{% if collections %} sortable{% endif %}"
                                          hx-target="this" hx-swap="innerHTML swap:0.25s"
                                          hx-push-url="false" hx-trigger="end"
                                          hx-post="{% url 'daily:collection-list' %}">
                                        {% include 'a_common/prime_test/collection_list.html' %}
                                    </form>
                                </div>
                            {% else %}
                                <div class="text-center">
                                    <a class="btn btn-outline-secondary"
                                       hx-target="body" hx-swap="innerHTML swap:0.25s"
                                       hx-get="{% url 'account_login' %}">
                                        로그인이 필요합니다.
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </collection>
        </div>
    </section>
{% endblock main %}
