<section id="commentContainer" class="border-top pt-3 htmx-fade-in htmx-fade-out">
    {% if comments %}
        {% for comment in comments %}
            <div id="commentContents">
                <div id="comment{{ comment.id }}" class="py-2">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="text-gray-500 mr-1">
                                {{ comment.user.username }}
                            </span>
                            <span class="mr-1">
                                {% with timestamp=comment.created_at %}
                                    {{ timestamp|date:'Y.m.d' }}({{ timestamp|date:'w'|to_kor_day }})
                                    {{ timestamp|time:'H:i' }}
                                {% endwith %}
                            </span>
                        </div>
                    {% if comment.user == user %}
                        <div>
                            <a class="btn btn-circle btn-sm btn-outline-success" href=""
                               hx-get="{{ comment.get_update_url }}"
                               title="수정"
                               hx-target="#commentUpdate{{ comment.id }}"
                               hx-swap="innerHTML swap:0.25s">
                                {{ board_icon.update|safe }}
                            </a>
                            <a class="btn btn-circle btn-sm btn-outline-danger" href=""
                               hx-post="{{ comment.get_delete_url }}"
                               title="삭제"
                               hx-target="#commentContainer"
                               hx-swap="outerHTML swap:0.25s"
                               hx-confirm="댓글을 삭제하시겠습니까?">
                                {{ board_icon.delete|safe }}
                            </a>
                        </div>
                    {% endif %}
                    </div>
                    <div id="commentContent{{ comment.id }}" class="comment text-gray-900">
                        {{ comment.content }}
                    </div>
                </div>
                <div id="commentUpdate{{ comment.id }}" class="htmx-fade-in htmx-fade-out"></div>
            </div>
            <hr class="my-2">
        {% endfor %}
    {% endif %}

    {% partialdef comment_create inline=True %} {# comment_create partial #}
        {% if user.is_authenticated %}
            <div class="py-2 bg-white">
                <form method="post">
                    {% csrf_token %}
                    {% if form.errors.content %}
                        <div class="alert alert-danger fade show small py-2 fw-bold" role="alert">
                            댓글을 입력해주세요.
                        </div>
                    {% endif %}
                    <input id="id_user{{ comment_id }}" type="text" name="user"
                           value="{{ user.id }}" aria-label="User" hidden/>
                    <input id="id_post{{ comment_id }}" type="text" name="post"
                           value="{{ post_id }}" aria-label="Post" hidden/>
                    <div class="input-group">
                        <textarea name="content" cols="40" rows="1" required
                                  class='form-control form-control-sm' aria-label="Content"
                                  placeholder="댓글"
                                  id="id_content{{ comment_id }}">{{ form.content.value }}</textarea>
                        <div class="d-flex justify-content-end">
                            {% if info.view_type == 'comment_update' %}
                                <button type="submit" class="btn btn-sm btn-outline-primary"
                                        title="수정" hx-boost="true"
                                        hx-target="#commentContainer" hx-swap="outerHTML swap:0.25s"
                                        hx-post="{{ comment_update_url }}"
                                        hx-push-url="{{ post_detail_url }}">
                                    수정
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-sm btn-outline-primary"
                                        title="입력" hx-boost="true"
                                        hx-target="#commentContainer" hx-swap="outerHTML swap:0.25s"
                                        hx-post="{{ comment_create_url }}"
                                        hx-push-url="{{ post_detail_url }}">
                                    입력
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="p-2 bg-white">
                <ul class="list-group">
                   <li class="list-group-item" hx-get="{% url 'account_login' %}"
                       hx-target="#main" hx-swap="outerHTML"
                       hx-confirm="로그인하시겠습니까?">
                       로그인이 필요합니다.
                   </li>
                </ul>
            </div>
        {% endif %}
    {% endpartialdef comment_create %}
</section>
