{% extends '_base.html' %}

{% block main %}
    {{ info|json_script:'info' }}
    <div class="pagetitle">
        <h1>{{ icon_menu|safe }} 공지사항</h1>
        <nav>
            <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'notice:base' %}" class="active">Notice</a>
                </li>
            </ol>
        </nav>
    </div><!-- Page Title End -->

    <section class="section">
        <div class="row">
            <div class="col-12" aria-label="공지사항">
                <div id="noticeCard" class="card htmx-fade-in"
                     hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
                    <div id="noticeCardHeader" class="card-header bg-warning-subtle text-black fw-bold">
                        공지사항
                    </div>
                    <div id="noticeCardContent" class="card-body htmx-fade-in htmx-fade-out">
                        {% include 'a_notice/post_list_content.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
