{% extends '_layouts/_e.html' %}
{% load static %}

{% block content %}
    <main id="main" class="tw-col-span-full">
        {{ info|json_script:'info' }}

        <section class="section">
            {% #content_row class1='col-12' %}
                <h5 class="card-title mb-0">
                    {% partial buttons %}
                </h5>

                <h6 class="border-top pt-2 text-primary fw-bold">
                    {% if post.top_fixed %}
                        <span class="text-danger">{{ icon_board.top_fixed|safe }}</span>
                    {% endif %}
                    {% if post.is_hidden %}
                        <span class="text-danger">{{ icon_board.is_hidden|safe }}</span>
                    {% endif %}
                    {{ post.title }}
                </h6>

                <div class="border-bottom pb-2 small text-secondary">
                    <span class="me-1">{{ post.user.username }}</span>
                    <span class="me-1">조회
                        <span class="text-danger fw-bold">{{ post.hit }}</span>
                    </span>
                    <span class="me-1">
                        {% with timestamp=post.created_at %}
                            {{ timestamp|date:'Y.m.d' }}({{ timestamp|date:'w' }})
                            {{ timestamp|time:'H:i' }}
                        {% endwith %}
                    </span>
                    <span class="me-1">댓글
                        <span class="text-danger fw-bold">{{ post.comment_count }}</span>
                    </span>
                </div>

                <div class="my-4">
                    {{ post.content|safe }}
                </div>
        {#        {% include 'notice/v3/comment_container.html' %}#}
            {% /content_row %}
        </section>
    </main>
{% endblock content %}

{% partialdef buttons %}
    <div class="d-flex justify-content-between" hx-target="#content"
         hx-push-url="true" hx-boost="true" hx-swap="innerHTML swap:0.25s">
        <div class="left-button col-auto px-0">
            <a class="btn btn-circle btn-sm btn-outline-secondary"
               hx-get="{{ post.post_list_url }}" href="" title="List">
                {{ icon_board.list|safe }}
            </a>

            {% if next_post %}
                <a class="btn btn-circle btn-sm btn-outline-secondary"
                   title="다음 글" href=""
                   hx-get="{{ next_post.get_absolute_url }}">
                    {{ icon_board.next|safe }}
                </a>
            {%  endif %}

            {% if prev_post %}
                <a class="btn btn-circle btn-sm btn-outline-secondary"
                   title="이전 글" href=""
                   hx-get="{{ prev_post.get_absolute_url }}">
                    {{ icon_board.prev|safe }}
                </a>
            {%  endif %}
        </div>

        <div class="right-button">
            <a class="btn btn-circle btn-sm btn-outline-warning"
               hx-boost="true" title="Reply"
               href="{{ post.post_list_url }}">
                {{ icon_board.reply|safe }}
            </a>
            {% if post.user == user %}
                <a class="btn btn-circle btn-sm btn-outline-success"
                   hx-boost="true" title="Update"
                   hx-headers='{"View-Type":"update"}'
                   href="">
                    {{ icon_board.update|safe }}
                </a>
                <button class="btn btn-circle btn-sm btn-outline-danger"
                   title="Delete"
                   hx-push-url="{{ post.post_list_url }}"
                   hx-confirm="글을 삭제하시겠습니까?"
                   hx-headers='{"View-Type":"delete"}'
                   hx-post="">
                    {{ icon_board.delete|safe }}
                </button>
            {% endif %}
        </div>
    </div>
{% endpartialdef buttons %}
