{% extends 'a_mock/_mock_base.html' %}

{% block main_content %}
    <section class="section htmx-fade-in htmx-fade-out" hx-target="#main" hx-swap="innerHTML swap:0.25s">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center m-0">
                        <span class="text-primary">수험정보</span>
                    </div>
                    <div class="card-body p-4">
                        <div id="infoStudent" class="htmx-fade-in htmx-fade-out">
                            {% include 'a_mock/snippets/create_info_student.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}