{% load humanize %}

<article class="table-responsive">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border">과목</th>
                <th class="text-primary text-nowrap">응시생 수</th>
                <th class="text-primary text-nowrap">최고 점수</th>
                <th class="text-primary text-nowrap">상위 10%</th>
                <th class="text-primary text-nowrap">상위 25%</th>
                <th class="text-primary text-nowrap">상위 50%</th>
                <th class="text-primary text-nowrap td-right-no-border">평균 점수</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in statistics_context.page_obj %}
                {% for _ in '012345' %}
                    {% cycle obj.sum obj.subject_0 obj.subject_1 obj.subject_2 obj.subject_3 obj.subject_4 as data_stat silent %}
                    <tr class="text-center">
                        <td class="text-nowrap td-left-no-border">{{ data_stat.subject }}</td>
                        <td class="text-nowrap">{{ data_stat.participants|intcomma }}</td>
                        <td class="text-nowrap">{{ data_stat.max|floatformat:1 }}</td>
                        <td class="text-nowrap">{{ data_stat.t10|floatformat:1 }}</td>
                        <td class="text-nowrap">{{ data_stat.t25|floatformat:1 }}</td>
                        <td class="text-nowrap">{{ data_stat.t50|floatformat:1 }}</td>
                        <td class="text-nowrap td-right-no-border">{{ data_stat.avg|floatformat:1 }}</td>
                    </tr>
                {% endfor %}
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap" colspan="32">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% include 'a_mock/snippets/pagination.html' with page_obj=statistics_context.page_obj page_range=statistics_context.page_range header='statistics_list' %}
