<article class="table-responsive">
    <table class="table align-middle">
        <tbody>
            {% if not answers %}
                <tr class="text-center">
                    <th>
                        <a class="btn btn-outline-danger my-4" hx-boost="true" href="{{ tab.url_answer_input }}">
                            답안을 제출해주세요.
                        </a>
                    </th>
                </tr>
            {% else %}
                {% for loop in tab.loop_list %}
                    {% partial answer_table_tr %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</article>

{% partialdef answer_table_tr %}
    <tr class="text-center table-warning">
        <th class="text-nowrap">문제 번호</th>
        {% for _ in 'x'|ljust:loop.counter %}
            <th>{{ forloop.counter|add:loop.min }}</th>
        {% endfor %}
    </tr>

    <tr class="text-center">
        <th class="text-nowrap">공식 정답</th>
        {% for answer in answers %}
            {% with answer_data=answer.ans_official_circle %}{% partial answer_official %}{% endwith %}
        {% endfor %}
    </tr>
    <tr class="text-center">
        <th class="text-nowrap">정답률(%)</th>
        {% for answer in answers %}
            {% with answer_data=answer.rate_correct|floatformat:0 %}{% partial answer_official %}{% endwith %}
        {% endfor %}
    </tr>

    <tr class="text-center">
        <th class="text-nowrap">선택 답안</th>
        {% for answer in answers %}
            {% with answer_data=answer.ans_student_circle %}{% partial answer_selection %}{% endwith %}
        {% endfor %}
    </tr>
    <tr class="text-center">
        <th class="text-nowrap">선택률(%)</th>
        {% for answer in answers %}
            {% with answer_data=answer.rate_selection|floatformat:0 %}{% partial answer_selection %}{% endwith %}
        {% endfor %}
    </tr>
{% endpartialdef %}

{% partialdef answer_official %}
    {% if forloop.counter > loop.min and forloop.counter <= loop.min|add:loop.counter %}
        <td class="fw-bold text-success">{{ answer_data }}</td>
    {% endif %}
{% endpartialdef %}

{% partialdef answer_selection %}
    {% if forloop.counter > loop.min and forloop.counter <= loop.min|add:loop.counter %}
        <td class="fw-bold">
            {% if answer.real_result %}
                <span class="text-success">{{ answer_data }}</span>
            {% else %}
                <span class="text-danger">{{ answer_data }}</span>
            {% endif %}
        </td>
    {% endif %}
{% endpartialdef %}
